# Ignore the GitLab CI configuration
.gitlab-ci.yml

# Ignore the markdown document.
README.md

# Ignore test files
*_test.go

# Ignore local log files
*.log

# Ignore the Docker related files.
.dockerignore
Dockerfile
